/ConnectPostgresql_T3/dist/
/exeServer/nbproject/private/
/exeServer/build/
/exeServer/dist/
/exeClient/nbproject/private/
/exeClient/build/
/exeClient_/nbproject/private/
/exeClient_/build/
/exeClient_/dist/
